nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -80px;
  }
  .link2 {
    color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px 4px #000000;
    font-size: 20px;
    margin: 30px;
    
    transition: color 0.3s; /* Add smooth transition for color change */
  }

  body{
    background: linear-gradient(90deg, #002e7c, #00789c, #029ba0);
}

h2{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px 4px #000000;
    color: white;
}

table{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px 4px #000000;
}